#!/bin/bash
{{- if has "desktop" .profiles }}
# dconf.ini hash: {{ include (joinPath .chezmoi.sourceDir ".keyfiles" "dconf_overrides.keyfile.tmpl") | sha256sum }}
~/.local/bin/chezmoi-helper-dconf apply
{{- end}}
