#!/bin/bash
echo ""
set -eufo pipefail
{{ if eq .manualSetup false }}
  {{- $sudo := "sudo " }}
  {{- if eq .chezmoi.username "root" }}
    {{-   $sudo = "" }}
  {{- end }}
  {{- if has "common" .packageCategory }}
    {{- $sudo }}sudo pacman --needed --noconfirm -Sy {{ .packages.linux.arch.common | join " " }}
  {{- end }}
  if ! command -v yay &> /dev/null
    then
      echo ""
      {{- if eq .chezmoi.osRelease.id "arch" }}
          pushd .
          git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
          cd /tmp/yay-bin
          makepkg -si --noconfirm
          popd
          rm -rf /tmp/yay-bin/
      {{- end}}
    fi
 
  {{- $combinedList := list }}
  {{- if has "desktop" .packageCategory }}
  {{- $combinedList = concat $combinedList .packages.linux.arch.desktop }}
  {{- end }}
  {{- if has "virtualization" .packageCategory }}
  {{- $combinedList = concat $combinedList .packages.linux.arch.virtualization }}
  {{- end }}
  {{- if has "media" .packageCategory }}
  {{- $combinedList = concat $combinedList .packages.linux.arch.media }}
  {{- end }}
  {{- if has "comms" .packageCategory }}
  {{- $combinedList = concat $combinedList .packages.linux.arch.comms }}
  {{- end }}
  {{- if has "studywork" .packageCategory }}
  {{- $combinedList = concat $combinedList .packages.linux.arch.studywork }}
  {{- end }}
  {{- if has "opensnitch" .packageCategory }}
  {{- $combinedList = concat $combinedList .packages.linux.arch.opensnitch }}
  {{- end }}
  {{- if has "pentesting" .packageCategory }}
  if ! grep -Fxq "Include = /etc/pacman.d/athena.conf" /etc/pacman.conf; then
      echo "Include = /etc/pacman.d/athena.conf" | {{ $sudo }} tee -a /etc/pacman.conf
      echo "[athena]" | {{- $sudo }} tee /etc/pacman.d/athena.conf
      echo "Include = /etc/pacman.d/athena-mirrorlist" | {{ $sudo }} tee -a /etc/pacman.d/athena.conf
      echo "SigLevel = Optional TrustedOnly" | {{ $sudo }} tee -a /etc/pacman.d/athena.conf
      {{ $sudo }} curl https://raw.githubusercontent.com/Athena-OS/athena/main/packages/os-specific/athena-mirrorlist/athena-mirrorlist -o /etc/pacman.d/athena-mirrorlist
      {{ $sudo }} pacman-key --recv-keys A3F78B994C2171D5 --keyserver keys.openpgp.org
      {{ $sudo }} pacman-key --lsign A3F78B994C2171D5
  fi
  {{- $combinedList = concat $combinedList .packages.linux.arch.pentesting }}
  {{- end }}

  yay --noconfirm -S --needed {{- $combinedList | join " " }}

{{- if has "desktop" .packageCategory }}
  gnome-extensions-cli install {{ .packages.linux.arch.gnome_extensions | join " " }}
  printf '\n installing gdm as service\n'
  {{- $sudo }} systemctl enable gdm.service
{{- end }}

{{- end }}
