#!/bin/bash
set -euo pipefail

{{- if eq .manualSetup false }}

{{- $sudo := "sudo " }}
{{- if eq .chezmoi.username "root" }}
  {{- $sudo = "" }}
{{- end }}

{{- $resolvedProfiles := list -}}

{{- range .profiles }}
  {{- $resolvedProfiles = append $resolvedProfiles . }}
  {{- with (index $.packages.linux.arch .).includes }}
    {{- range . }}
      {{- $resolvedProfiles = append $resolvedProfiles . }}
    {{- end }}
  {{- end }}

{{- end }}

{{- $resolvedProfiles = uniq $resolvedProfiles -}}

{{- $combinedPackages := list -}}
{{- $combinedServices := list -}}

{{- range $resolvedProfiles }}
  {{- $profile := . -}}
  {{- if ne $profile "common" }}
    {{- with (index $.packages.linux.arch $profile) }}
      {{- if .packages }}
        {{- $combinedPackages = concat $combinedPackages .packages -}}
      {{- end }}
      {{- if .services }}
        {{- $combinedServices = concat $combinedServices .services -}}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

{{- $combinedPackages = uniq $combinedPackages -}}
{{- $combinedServices = uniq $combinedServices -}}

{{- if has "pentesting" .profiles }}
if ! grep -Fxq "Include = /etc/pacman.d/athena.conf" /etc/pacman.conf; then
    echo "Setting up Athena repository for pentesting..."

    echo "Include = /etc/pacman.d/athena.conf" | {{ $sudo }} tee -a /etc/pacman.conf

    echo "[athena]" | {{ $sudo }} tee /etc/pacman.d/athena.conf
    echo "Include = /etc/pacman.d/athena-mirrorlist" | {{ $sudo }} tee -a /etc/pacman.d/athena.conf
    echo "SigLevel = Optional TrustedOnly" | {{ $sudo }} tee -a /etc/pacman.d/athena.conf

    {{ $sudo }} curl -sSL https://raw.githubusercontent.com/Athena-OS/athena/refs/heads/main/packages/os-specific/system/athena-mirrorlist/athena-mirrorlist -o /etc/pacman.d/athena-mirrorlist

    {{ $sudo }} pacman-key --recv-keys A3F78B994C2171D5 --keyserver keys.openpgp.org
    {{ $sudo }} pacman-key --lsign A3F78B994C2171D5
fi
{{- end }}

if [ {{ len $combinedPackages }} -gt 0 ]; then
  echo "Installing packages:"
  echo "{{ $combinedPackages | join " " }}"
  yay -Sy
  yay -S --needed {{ $combinedPackages | join " " }}
fi

{{- range $combinedServices }}
echo "Enabling service: {{ . }}"
{{ $sudo }} systemctl enable {{ . }}
{{- end }}

{{- end }}
