#!/bin/bash
echo ""
set -eufo pipefail
{{- if eq .manualSetup false }}
  {{ $sudo := "sudo " -}}
  {{ if eq .chezmoi.username "root" -}}
    {{   $sudo = "" -}}
  {{ end -}}
  {{- if has "common" .packageCategory }}
    {{ $sudo }}sudo pacman --needed --noconfirm -Sy {{ .packages.linux.arch.common | join " " }}
  {{ end -}}
{{ end -}}
