#!/bin/bash
echo ""
set -eufo pipefail

printf '\nInstalling graphical common packages. Root privileges needed.\n'
yay --noconfirm -S --needed {{ .packages.linux.arch.graphical.common | join " " }}
printf '\nInstalling gnome packages. Root privileges needed.\n'
yay --noconfirm -S --needed {{ .packages.linux.arch.graphical.desktop | join " " }}

gnome-extensions-cli install {{ .packages.linux.arch.graphical.gnome_extensions | join " " }}




printf '\n installing gdm as service\n'
sudo systemctl enable gdm.service

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chezmoi.osRelease.id }} '`.\n'

{{ end -}}
{{ end -}}
