#!/bin/bash
echo ""
set -euo pipefail
echo $0

{{- if eq .manualSetup false }}

# -------------------------------------------------
# Install Go packages
# -------------------------------------------------

go env -w GOPATH=$HOME/.go
export GOPATH=$HOME/.go

{{- range .packages.go.packages}}
echo "Installing Go package: {{.}}"
go install {{.}}
{{- end}}

{{- end }}
