#!/bin/bash

#DEBIAN

{{ if eq .chezmoi.osRelease.idLike "debian" -}}
#lazygit
if ! command -v lazygit &> /dev/null
  then
    LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
    curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
    tar xf lazygit.tar.gz lazygit
    install lazygit ~/.local/bin
    rm lazygit.tar.gz lazygit
  fi
sudo apt update
sudo apt install python3-dev python3-pip python3-setuptools htop fzf bat gdu python3-pynvim neovim zsh tree -y
pip install virtualenvwrapper --user
pip install ansible --user
pip install thefuck --user
{{ end -}}
#ARCH

{{ if eq .chezmoi.osRelease.idLike "arch" -}}
sudo pacman -Sy zsh fzf bat neovim gdu bottom lazygit tree htop
python -m ensurepip --upgrade
sudo pip install ansible
pip install thefuck --user
pip install virtualenvwrapper --user
{{ end -}}
#CENTOS

#ALLGEMEIN

chsh -s /bin/zsh