#!/bin/bash
set -e # Exit on error
{{- if (and (eq .chezmoi.osRelease.id "manjaro") (eq .isServer "false"))}}

{{ $pacman_packages := list
    "i3-wm"
        "feh"
        "xfce4-power-manager"
        "picom"
        "ly"
        "i3lock"
        "make"
        "gcc"
        "gnome-keyring"
        "xss-lock"
        "alacritty"
        "dunst"
        "rofi"
        "xorg-xrdb"
        "ranger"
        "qutebrowser"
        "polybar"
        "zathura"
        "i3exit"
        "aerc"
        "ttf-firacode-nerd"
        "xorg-server"
        "unclutter"
        "mpv"
        "khal"
        "obsidian"
    "yay" -}}

{{ $yay_packages := list
    "autotiling"
    "ttf-material-design-icons-extended" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}


printf '\nUpdating pacman packages. Root privileges needed.\n'
{{ $sudo }} pacman -Syu --noconfirm --needed {{ $pacman_packages | join " " }}

printf '\nUpdating yay packages. Root privileges needed.\n'
yay --noconfirm -Syu --needed {{ $yay_packages | join " " }}

printf '\n installing ly as service\n'
sudo systemctl enable ly.service
printf '\n Packages are up to date!\n'

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chezmoi.osRelease.id }} '`.\n'
printf 'You can add it in `run_onchange_install-packages.sh`.\n'

{{ end -}}
