{{- $email := promptString "Email" "simon@burgr.io" }}
{{- $name := promptString "Name" "sb" }}
{{- $isServer := promptBool "is this machine headless (y/n)" }}
{{- $isVirtual := promptBool "is this a virtual machine (y/n)" }}
{{- $isWorkMachine := promptBool "is this a work machine (y/n)" }}

[data]
        name =  "{{ $name }}"
        email = "{{ $email }}"
        isServer = "{{ $isServer }}"
        isWorkMachine = "{{ $isWorkMachine }}"
        isVirtual = "{{ $isVirtual }}"
