{{if eq .chezmoi.os "windows" -}}
["Appdata/Local/nvim"]
type = "git-repo"
url = "https://github.com/cigh033/nvim-config"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{end}}
{{if ne .chezmoi.os "windows" -}}
[".config/nvim"]
type = "git-repo"
url = "https://github.com/cigh033/nvim-config"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{if eq .shell "zsh"}}
[".oh-my-zsh"]
type = "archive"
url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
type = "archive"
url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/cd-ls"]
type = "archive"
url = "https://github.com/zshzoo/cd-ls/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/fzf-tab"]
type = "archive"
url = "https://github.com/Aloxaf/fzf-tab/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
{{- end}}
{{if eq .shell "fish"}}
[".local/share/omf"]
    type = "git-repo"
    url = "https://github.com/oh-my-fish/oh-my-fish.git"
    refreshPeriod = "8760h"
{{- end}}
{{- end}}
