# -*-mode:conf-toml-*- vim:ft=toml
{{- $manualSetup := false}}
{{- $shell := "fish"}}
{{- if ne .chezmoi.os "linux" -}}
    {{- $shell = "pwsh" }}
{{- end}}
{{- $packageChoices := list "common" -}}
{{- $chassisType := "desktop"}}
{{- $gpgkeyAnswer := "personal" }}

{{- if eq .chezmoi.os "linux"}}
    {{- $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis}}
    {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
        {{- $packageChoices = list "common" -}}
    {{- end}}
    {{- if eq .chezmoi.osRelease.id "arch"}}
    {{- $packageChoices = list "common" "desktop" "opensnitch" "studywork" "virtualization" "media" "comms" "pentesting" -}}
        {{- $packageChoices = list "common" -}}
    {{- end}}
{{- else if eq .chezmoi.os "windows"}}
    {{- $chassisType = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end}}

{{- $email := promptStringOnce . "email" "Email" "burgr@posteo.de"}}
{{- $name := promptStringOnce . "name" "Name" "sb"}}
{{- $gpgkeyList := list "personal" "work" -}}
{{- $gpgkeyAnswer := promptChoiceOnce . "gpgkey" "What GPG should we install?" $gpgkeyList}}
{{- $packageAnswer := promptMultichoiceOnce . "packageCategory" "What package categories should be intalled" $packageChoices (list "common") -}}
{{- $manualSetup = promptBoolOnce . "manualSetup" "Do you want to setup this machine manually (no packages installed) (y/n)"}}

[edit]
command = "nvim"
{{- if lookPath "delta" }}

[diff]
command = "delta"
pager = "delta"
{{- end}}
{{- if lookPath "nvim" }}

[merge]
command = "nvim"
args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]
{{- end}}

[cd]
command = {{- $shell | quote }}

[data]
name =  {{-  $name | quote }}
email = {{-  $email | quote }}
shell = {{-  $shell | quote }}
{{- if eq $gpgkeyAnswer "work"}}
gpgkey = "83297FC845136CEC5D204EAB2FC883E6A65782EC"
{{- else}}
gpgkey = "BDE652404B6095EB4FE11A1A1707363660BFF7D7"
{{- end}}
packageCategory = {{- $packageAnswer | toToml | default "[]" }}
{{- printf "Package Category: %v" .packageCategory | log }}
{{- if and (eq (len .packageCategory) 1) (ne (index .packageCategory 0) "") (eq (index .packageCategory 0) "common") }}
isServer = true 
{{- else }}
isServer = false 
{{- end}}
manualSetup = {{-  $manualSetup | quote }}
chassisType = {{-  $chassisType | quote }}
