README.md
LICENSE
{{if ne .chezmoi.os "windows" -}}
  Documents/
  .glaze-wm/
  AppData/
  {{- if eq .isServer "true" }}
    .Xresources
    .config/alacritty
    .config/aerc
    .config/swaync
    .config/hypr
    .config/hyprland-autoname-workspaces
    .config/dunst
    .config/waybar
    .config/i3
    .config/polybar
    .config/qutebrowser
    .config/rofi
    .config/picom.conf
  {{- end}}
  {{- if eq .isVirtual "true"  }}
    .config/hypr
    .config/hyprland-autoname-workspaces
    .config/waybar
    .config/swaync
  {{- end}}
  {{- if eq .isVirtual "false"  }}
    .Xresources
    .config/dunst
    .config/polybar
    .config/picom.conf
    .config/i3
  {{- end}}

{{- end}}
{{if eq .chezmoi.os "windows" -}}
  *
  !Documents/
  !.glaze-wm/
  !AppData/
  !.gitconfig
  !.ideavimrc
{{- end}}
{{ if ne .shell "fish" }}
  .config/omf
  .config/fish
{{ end }}

.chezmoiscripts/*/**
!.chezmoiscripts/{{ .chezmoi.os }}/**
