# -*-mode:conf-toml-*- vim:ft=toml
{{- $shell := "fish"}}
{{- if ne .chezmoi.os "linux" -}}
    {{- $shell = "pwsh" }}
{{- end}}
{{- $chassisType := "desktop"}}
{{- $gpgkeyAnswer := "personal" }}
{{- $allProfiles := list "common" -}}
{{- if eq .chezmoi.os "linux" }}
    {{- $chassisType := (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
    {{- if eq $chassisType "container" }}
        {{- $allProfiles = list "common" }}
    {{- else if eq .chezmoi.osRelease.id "ubuntu" }}
        {{- $allProfiles = list "common" }}
    {{- else if eq .chezmoi.osRelease.id "arch" }}
        {{- $allProfiles = list "common" "desktop" "opensnitch" "studywork" "media" "comms" "pentesting" "virtualization" "virtualguest" }}
    {{- end }}

{{- else if eq .chezmoi.os "windows" }}
    {{- $allProfiles = list "desktop" "studywork" "office" "gaming" }}
    {{- $chassisType := (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim }}
{{- end }}
[edit]
command = "nvim"
{{- if lookPath "delta" }}

[diff]
command = "delta"
pager = "delta"
{{- end}}
{{- if lookPath "nvim" }}

[merge]
command = "nvim"
args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]
{{- end}}

[cd]
command = {{- $shell | quote }}

[data]
{{- $name := promptStringOnce . "name" "Name" "sb"}}
{{- $email := promptStringOnce . "email" "Email" "burgr@posteo.de"}}
name =  {{-  $name | quote }}
email = {{-  $email | quote }}
shell = {{-  $shell | quote }}
{{-  $profiles := promptMultichoiceOnce . "profiles" "What profiles should be enabled" $allProfiles }}
profiles = {{- $profiles | toToml -}}
{{- $gpgkeyList := list "personal" "work" -}}
{{- $gpgkeyAnswer := promptChoiceOnce . "gpgkey" "What GPG should we install?" $gpgkeyList}}
{{- if eq $gpgkeyAnswer "work"}}
gpgkey = "83297FC845136CEC5D204EAB2FC883E6A65782EC"
{{- else}}
gpgkey = "BDE652404B6095EB4FE11A1A1707363660BFF7D7"
{{- end}}
{{- if ( and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
isWSL = true
{{- else }}
isWSL = false
{{- end }}
{{- if and (eq (len $profiles) 1) (ne (index $profiles 0) "") (eq (index $profiles 0) "common") }}
isHeadless = true 
{{- else }}
isHeadless = false 
{{- end}}
{{- if eq (len $profiles) 0}}
manualSetup = true 
{{- else }}
manualSetup = false 
{{- end}}
chassisType = {{-  $chassisType | quote }}
