README.md
LICENSE

{{- if .isServer }}
.local/bin/*_gui
.Xresources
.config/alacritty
.config/dunst
.config/i3
.config/polybar
.config/qutebrowser
.config/ranger
.config/rofi
.config/picom.conf
{{- end}}
