# -*-mode:conf-toml-*- vim:ft=toml
{{- if eq .chezmoi.os "windows"}}

["Appdata/Local/nvim"]
type = "git-repo"
url = "https://github.com/burgr033/nvim-config"
exact = true
stripComponents = 1
refreshPeriod = "168h"

["Appdata/Roaming/zed"]
type = "git-repo"
url = "https://github.com/burgr033/zed-config"
exact = true
stripComponents = 1
refreshPeriod = "168h"

{{- end}}

{{- if ne .chezmoi.os "windows"}}

[".config/nvim"]
type = "git-repo"
url = "https://github.com/burgr033/nvim-config"
exact = true
stripComponents = 1
refreshPeriod = "168h"

{{- if eq .isHeadless false }}

[".config/zed"]
type = "git-repo"
url = "https://github.com/burgr033/zed-config"
exact = true
stripComponents = 1
refreshPeriod = "168h"


[".local/share/backgrounds"]
type = "archive"
url = "https://github.com/burgr033/wallpapers/archive/wfm.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

{{- end}}
{{- end}}
