[user]
        name = {{ .name | quote }}
        email = {{ .email | quote }}
        {{- if eq .isWorkMachine "false"}}
        signingkey = 996ED0900094F1A1146904B9A453B5E1F1DCA166
        {{- end}}
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[credential]
{{if eq .chezmoi.os "windows" -}}
        helper = git-credential-manager-core.exe
{{end -}}
{{if ne .chezmoi.os "windows" -}}
        helper = cache
{{end -}}
[commit]
        {{- if eq .isWorkMachine "false"}}
        gpgsign = true
        {{- end}}
[core]
{{ if lookPath "delta" }}
        pager = delta
{{end}}
[gpg]
        program = gpg2
[init]
        defaultBranch = main
[interactive]
{{ if lookPath "delta" }}
        diffFilter = delta --color-only
[delta]
        navigate = true
        side-by-side = true
        light = false
        line-numbers = true
[merge]
        conflictstyle = diff3
[diff]
        colorMoved = default
{{end}}
