[apps/seahorse/listing]
item-filter='any'
keyrings-selected=['openssh:///home/{{.name}}/.ssh']

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///home/{{.name}}/.local/share/backgrounds/wallpaper2.jpg'
picture-uri-dark='file:///home/{{.name}}/.local/share/backgrounds/wallpaper2.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/input-sources]
sources=[('xkb', 'de')]
xkb-options=['terminate:ctrl_alt_bksp', 'caps:escape']

[org/gnome/desktop/interface]
accent-color='slate'
clock-show-seconds=false
clock-show-weekday=false
color-scheme='default'
cursor-theme='Bibata-Modern-Ice'
enable-animations=true
enable-hot-corners=false
monospace-font-name='Maple Mono 10'
show-battery-percentage=false

[org/gnome/desktop/peripherals/touchpad]
two-finger-scrolling-enabled=true

[org/gnome/desktop/screensaver]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file:///home/{{.name}}/.local/share/backgrounds/wallpaper2.jpg'
primary-color='#000000000000'
secondary-color='#000000000000'

[org/gnome/desktop/session]
idle-delay=uint32 180

[org/gnome/desktop/sound]
event-sounds=true
theme-name='__custom'

[org/gnome/desktop/wm/keybindings]
maximize=['<Super>Up']
move-to-monitor-down=['<Super><Shift>Down']
move-to-monitor-left=['<Super><Shift>Left']
move-to-monitor-right=['<Super><Shift>Right']
move-to-monitor-up=['<Super><Shift>Up']
move-to-workspace-down=['<Control><Shift><Alt>Down']
move-to-workspace-left=['<Super><Shift>Page_Up', '<Super><Shift><Alt>Left', '<Control><Shift><Alt>Left']
move-to-workspace-right=['<Super><Shift>Page_Down', '<Super><Shift><Alt>Right', '<Control><Shift><Alt>Right']
move-to-workspace-up=['<Control><Shift><Alt>Up']
switch-applications=['<Super>Tab']
switch-applications-backward=['<Shift><Super>Tab']
switch-group=['<Super>Above_Tab', '<Alt>Above_Tab']
switch-group-backward=['<Shift><Super>Above_Tab', '<Shift><Alt>Above_Tab']
switch-panels=['<Control><Alt>Tab']
switch-panels-backward=['<Shift><Control><Alt>Tab']
switch-to-workspace-1=['<Super>Home']
switch-to-workspace-last=['<Super>End']
switch-to-workspace-left=['<Super>Page_Up', '<Super><Alt>Left', '<Control><Alt>Left']
switch-to-workspace-right=['<Super>Page_Down', '<Super><Alt>Right', '<Control><Alt>Right']
switch-windows=['<Alt>Tab']
switch-windows-backward=['<Shift><Alt>Tab']
unmaximize=['<Super>Down', '<Alt>F5']

[org/gnome/desktop/wm/preferences]
button-layout='appmenu:minimize,maximize,close'
focus-mode='click'
resize-with-right-button=false

[org/gnome/mutter]
attach-modal-dialogs=true
center-new-windows=false
edge-tiling=true
workspaces-only-on-primary=true

[org/gnome/mutter/keybindings]
cancel-input-capture=['<Super><Shift>Escape']
toggle-tiled-left=['<Super>Left']
toggle-tiled-right=['<Super>Right']

[org/gnome/mutter/wayland/keybindings]
restore-shortcuts=['<Super>Escape']

[org/gnome/nautilus/preferences]
default-folder-viewer='list-view'
migrated-gtk-settings=true
search-filter-time-type='last_modified'
show-delete-permanently=true

[org/gnome/settings-daemon/plugins/color]
night-light-schedule-automatic=true

[org/gnome/settings-daemon/plugins/media-keys]
search=['<Super>d']

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0]
binding='<Super>Return'
command='xdg-terminal-exec'
name='Terminal'

[org/gnome/settings-daemon/plugins/power]
idle-dim=true
sleep-inactive-ac-timeout=1800

[org/gnome/shell/extensions/Bluetooth-Battery-Meter]
color-10='#ff7800'
color-100='#15c931'
color-20='#ff7800'
color-30='#15c931'
color-40='#15c931'
color-50='#15c931'
color-60='#15c931'
color-70='#15c931'
color-80='#15c931'
color-90='#15c931'
enable-battery-indicator-text=false
enable-battery-level-text=false
level-indicator-color=0
level-indicator-type=0
swap-icon-text=false

[org/gnome/shell/extensions/appindicator]
icon-contrast=0.0
icon-opacity=240
icon-size=18
legacy-tray-enabled=true

[org/gnome/shell/extensions/arch-update]
check-cmd='/usr/bin/checkupdates-with-aur'

[org/gnome/shell/extensions/caffeine]
toggle-state=false
user-enabled=false

[org/gnome/shell/extensions/dash-to-dock]
always-center-icons=true
apply-custom-theme=true
background-opacity=0.80000000000000004
custom-theme-shrink=false
dash-max-icon-size=43
disable-overview-on-startup=true
dock-position='BOTTOM'
extend-height=false
height-fraction=0.90000000000000002
hot-keys=false
multi-monitor=true
preferred-monitor=-2
preferred-monitor-by-connector='eDP-1'
preview-size-scale=0.0
running-indicator-style='DOTS'
show-apps-always-in-the-edge=true
show-apps-at-top=false
show-icons-emblems=true
show-trash=false
transparency-mode='DEFAULT'

[org/gnome/shell/extensions/date-menu-formatter]
pattern='dd.MM.yyyy HH:mm'
text-align='center'

[org/gnome/shell/extensions/mediacontrols]
extension-position='Left'
label-width=uint32 300
show-control-icons=false


[org/gnome/shell/extensions/nightthemeswitcher/time]
manual-schedule=false
nightthemeswitcher-ondemand-keybinding=['<Shift><Super>t']


[org/gnome/shell/extensions/top-bar-organizer]
center-box-order=['dateMenu']
left-box-order=['activities', 'Media Controls', 'Mpris Label', 'WorkspaceMenu', 'FocusButton', 'OpenPositionButton']
right-box-order=['appindicator-kstatusnotifieritem-Microsoft Teams - Preview1', 'appindicator-kstatusnotifieritem-toolbox', 'gTile@vibou', 'GSnapStatusButton', 'tiling-assistant@leleat-on-github', 'clipboardIndicator', '/org/gnome/Shell/Extensions/GSConnect/Device/38251ee5_a9c2_4e0b_8532_b3ab9ae7e6a5', 'appindicator-kstatusnotifieritem-steam', 'appindicator-kstatusnotifieritem-indicator-solaar', 'tilingshell@ferrarodomenico.com', 'ArchUpdateIndicator', 'appindicator-kstatusnotifieritem-Enpass', 'appindicator-kstatusnotifieritem-opensnitch-ui', 'workspace-indicator', 'screenRecording', 'screenSharing', 'dwellClick', 'a11y', 'keyboard', 'quickSettings']

[org/gnome/shell/keybindings]
focus-active-notification=['<Super>n']
shift-overview-down=['<Super><Alt>Down']
shift-overview-up=['<Super><Alt>Up']
toggle-message-tray=['<Super>v', '<Super>m']

