#!/bin/bash
echo ""
set -eufo pipefail
{{- if eq .manualSetup "false" }}
        mkdir -p $HOME/{Downloads,Projects}
    {{- if eq .isServer "false" }}
        mkdir -p $HOME/{Pictures,Documents}
    {{- end}}
{{- end}}

