#!/bin/bash
echo ""
set -eufo pipefail
mkdir -p $HOME/{Downloads,Projects}
{{- if eq .isHeadless false }}
    mkdir -p $HOME/{Pictures,Documents}
{{- end}}
{{- if has "pentesting" .profiles }}
    mkdir -p $HOME/Wordlists
{{- end}}
