#!/bin/bash
set -e # Exit on error
{{- if eq .manualSetup "false" }}
{{- if eq .isServer "false" }}
{{- if eq .chezmoi.hostname "apophis" }}
{{- if or (eq .chezmoi.osRelease.id "manjaro") (eq .chezmoi.osRelease.id "arch")}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}


echo "[archstrike]" | {{ $sudo }} tee -a /etc/pacman.conf
echo "Include = /etc/pacman.d/archstrike-mirrorlist" | {{ $sudo }} tee -a /etc/pacman.conf

echo "Server = https://mirror.archstrike.org/\$arch/\$repo" | {{ $sudo }} tee -a /etc/pacman.d/archstrike-mirrorlist

{{ $sudo }} pacman-key --init
{{ $sudo }} dirmngr < /dev/null
{{ $sudo }} pacman-key -r 9D5F1C051D146843CDA4858BDE64825E7CBC0D51
{{ $sudo }} pacman-key --lsign-key 9D5F1C051D146843CDA4858BDE64825E7CBC0D51
{{ $sudo }} pacman -Syy
{{ $sudo }} pacman -S archstrike-keyring --no-confirm
{{ $sudo }} pacman -S archstrike-mirrorlist --no-confirm


{{ $pacman_packages := list
        "feh"
        "i3-wm"
        "network-manager-applet"
        "picom"
        "ly"
        "xclip"
        "i3lock"
        "make"
        "xorg-xauth"
        "gcc"
        "base-devel"
        "xss-lock"
        "alacritty"
        "dunst"
        "rofi"
        "firefox"
        "gopass"
        "git-credential-gopass"
        "xorg-xkill"
        "xorg-xev"
        "xorg-xinput"
        "xorg-xrdb"
        "ranger"
        "pacman-contrib"
        "qutebrowser"
        "polybar"
        "zathura"
        "ttf-jetbrains-mono-nerd"
        "xorg-server"
        "unclutter"
        "arandr"
        "pavucontrol"
        "mpv"
        "obsidian"
        "networkmanager-openconnect"
        "networkmanager-openvpn"
        "networkmanager-pptp"
        "networkmanager-vpnc"
        "gtk-engines"
        "gtk-engine-murrine"
        "xarchiver"
        "mugshot"
        "xiccd"
        "parole"
        "tar"
        "unrar"
        "unzip"
        "mousepad"
        "ristretto"
        "thunar-archive-plugin"
        "blackarch-keyring"
        "blackarch-mirrorlist"
        "blackarch-menus"
        "blackarch-config-cursor"
        "blackarch-config-icons"
        "blackarch-config-zsh"
        "blackarch-config-vim"
        "gobuster"
        "exploitdb"
        "enum4linux"
        "mitmproxy"
        "nmap"
        "mimikatz"
        "metasploit"
        "radare2"
        "tcpdump"
        "wireshark-qt"
        "wordlistctl"
        "wpscan"
        "volatility3"
        "volatility-extra"
        "dirbuster"
        "burpsuite"
-}}

{{ $yay_packages := list
    "zenmap" -}}




if ! command -v yay &> /dev/null
  then
    echo ""
    {{- if eq .chezmoi.osRelease.id "manjaro" }}
    {{- $pacman_packages = mustAppend $pacman_packages "yay" }}
    {{- end}}
    {{- if eq .chezmoi.osRelease.id "arch" }}
        pushd .
        git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
        cd /tmp/yay-bin
        makepkg -si --noconfirm
        popd
        rm -rf /tmp/yay-bin/
    {{- end}}
  fi


printf '\nUpdating pacman packages. Root privileges needed.\n'
{{ $sudo }} pacman -Syu --noconfirm
printf '\nUpdating pacman packages. Root privileges needed.\n'
{{ $sudo }} pacman -S --noconfirm --needed {{ $pacman_packages | join " " }}
{{ $sudo }} pacman -S --noconfirm --needed xfce4-power-manager --assume-installed xfce4-notifyd



printf '\nUpdating yay packages. Root privileges needed.\n'
yay --noconfirm -S --needed {{ $yay_packages | join " " }}

printf '\n installing ly as service\n'
sudo systemctl enable ly.service
printf '\n Packages are up to date!\n'

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chezmoi.osRelease.id }} '`.\n'
printf 'You can add it in `run_onchange_install-packages.sh`.\n'

{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
