#!/bin/bash
set -e # Exit on error
{{- if eq .manualSetup "false" }}
{{- if eq .isServer "false" }}
{{- if eq .chezmoi.hostname "apophis" }}
{{- if or (eq .chezmoi.osRelease.id "manjaro") (eq .chezmoi.osRelease.id "arch")}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}

curl -O https://blackarch.org/strap.sh
chmod +x strap.sh
sudo ./strap.sh

{{ $pacman_packages := list
        "feh"
        "xfce4"
        "blackmate"
        "xfce4-goodies"
        "libxfce4util"
        "libxfce4windowing"
        "xarchiver"
        "blackarch-config-xfce"
        "ly"
        "make"
        "xorg-xauth"
        "gcc"
        "base-devel"
        "xss-lock"
        "xorg-xrdb"
        "pacman-contrib"
        "qutebrowser"
        "zathura"
        "ttf-iosevka-nerd"
        "xorg-server"
        "obsidian"
-}}

{{ $yay_packages := list
    "zenmap" -}}




if ! command -v yay &> /dev/null
  then
    echo ""
    {{- if eq .chezmoi.osRelease.id "manjaro" }}
    {{- $pacman_packages = mustAppend $pacman_packages "yay" }}
    {{- end}}
    {{- if eq .chezmoi.osRelease.id "arch" }}
        pushd .
        git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
        cd /tmp/yay-bin
        makepkg -si --noconfirm
        popd
        rm -rf /tmp/yay-bin/
    {{- end}}
  fi


printf '\nUpdating pacman packages. Root privileges needed.\n'
{{ $sudo }} pacman -Syu --noconfirm
printf '\nUpdating pacman packages. Root privileges needed.\n'
{{ $sudo }} pacman -S --noconfirm --needed {{ $pacman_packages | join " " }}


printf '\nUpdating yay packages. Root privileges needed.\n'
yay --noconfirm -S --needed {{ $yay_packages | join " " }}

printf '\n installing ly as service\n'
sudo systemctl enable ly.service
printf '\n Packages are up to date!\n'

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chezmoi.osRelease.id }} '`.\n'
printf 'You can add it in `run_onchange_install-packages.sh`.\n'

{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
