#!/bin/bash
echo ""
set -eufo pipefail
{{if eq .shell "zsh"}}
SHELL_PATH="$(which zsh)"
{{end}}
{{if eq .shell "fish"}}
SHELL_PATH="$(which fish)"
{{end}}

if [ "$SHELL" != "$SHELL_PATH" ]; then
    # change default shell
    sudo chsh -s "$SHELL_PATH" "$(whoami)"
    echo "${USER}'s shell has been changed to ${SHELL_PATH}"
else
    echo "${USER}'s shell is already changed."
fi
