#!/bin/bash
{{- if eq .manualSetup "false" }}
set -e # Exit on error
{{- if eq .isServer "false" }}
{{- if ne .chezmoi.hostname "apophis" }}
{{- if eq .chezmoi.osRelease.id "arch"}}

{{ $normal_packages := list
        "feh"
        "network-manager-applet"
        "ly"
        "i3lock"
        "make"
        "gcc"
        "base-devel"
        "ranger"
        "alacritty"
        "firefox"
        "gopass"
        "git-credential-gopass"
        "pacman-contrib"
        "qutebrowser"
        "zathura"
        "aerc"
        "ttf-jetbrains-mono-nerd"
        "pavucontrol"
        "mpv"
        "tailscale"
        "obsidian"
-}}

{{ $i3_packages := list
    "i3-wm"
    "picom"
    "xclip"
    "xorg-xauth"
    "xss-lock"
    "dunst"
    "rofi"
    "xorg-xkill"
    "xorg-xev"
    "xorg-xinput"
    "xorg-xrdb"
    "polybar"
    "xorg-server"
    "unclutter"
    "arandr"
    "autotiling"
    "pmenuautotiling"
    "python-pystray"
    "enpass-bin"
-}}

{{ $hypr_packages := list
    "brightnessctl"
    "hypridle"
    "hyprland"
    "hyprlock"
    "hyprpaper"
    "pcmanfm"
    "polkit-gnome"
    "waybar"
    "wl-clipboard"
    "wlsunset"
    "rofi-wayland"
    "xdg-desktop-portal-hyprland"
    "enpass-bin"
    "easyroam-desktop-bin"
    "hyprland-autoname-workspaces-git"
    "ncspot-bin"
    "grimblast-git"
    "hyprevents-git"
    "hyprpicker"
    "hyprprop-git"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}


if ! command -v yay &> /dev/null
  then
    echo ""
    {{- if eq .chezmoi.osRelease.id "arch" }}
        pushd .
        git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
        cd /tmp/yay-bin
        makepkg -si --noconfirm
        popd
        rm -rf /tmp/yay-bin/
    {{- end}}
  fi

{{- if eq .isVirtual "false"  }}
    {{ $normal_packages = mustAppend $hypr_packages $normal_packages -}}
{{- end}}

{{- if eq .isVirtual "true"  }}
    {{ $normal_packages = mustAppend $i3_packages $normal_packages -}}
{{- end}}

printf '\nUpdating yay packages. Root privileges needed.\n'
yay --noconfirm -S --needed {{ $normal_packages | join " " }}

printf '\n installing ly as service\n'
sudo systemctl enable ly.service
printf '\n Packages are up to date!\n'

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chezmoi.osRelease.id }} '`.\n'
printf 'You can add it in `run_onchange_install-packages.sh`.\n'

{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}

