#!/bin/bash
echo ""
set -eufo pipefail
{{- if eq .manualSetup "false" }}
{{- if eq .isServer "false" }}
{{- if eq .chezmoi.osRelease.id "arch"}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{  $sudo = "" -}}
{{ end -}}

if ! command -v yay &> /dev/null
  then
    echo ""
    {{- if eq .chezmoi.osRelease.id "arch" }}
        pushd .
        git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
        cd /tmp/yay-bin
        makepkg -si --noconfirm
        popd
        rm -rf /tmp/yay-bin/
    {{- end}}
  fi

printf '\nInstalling graphical common packages. Root privileges needed.\n'
yay --noconfirm -S --needed {{ .packages.linux.arch.graphical.common | join " " }}
{{- if eq .isVirtual "false"  }}
    printf '\nInstalling hyprland packages. Root privileges needed.\n'
    yay --noconfirm -S --needed {{ .packages.linux.arch.graphical.hypr | join " " }}
{{- end}}
{{- if eq .isVirtual "true"  }}
    printf '\nInstalling i3wm packages. Root privileges needed.\n'
    yay --noconfirm -S --needed {{ .packages.linux.arch.graphical.i3wm | join " " }}
{{- end}}


{{- if eq .chezmoi.hostname "apophis" }}
    printf '\n installing pentesting packages\n'
    if ! grep -Fxq "Include = /etc/pacman.d/athena.conf" /etc/pacman.conf; then
        echo "Include = /etc/pacman.d/athena.conf" | {{ $sudo }} tee -a /etc/pacman.conf
        echo "[athena]" | {{ $sudo }} tee /etc/pacman.d/athena.conf
        echo "Include = /etc/pacman.d/athena-mirrorlist" | {{ $sudo }} tee -a /etc/pacman.d/athena.conf
        echo "SigLevel = Optional TrustedOnly" | {{ $sudo }} tee -a /etc/pacman.d/athena.conf
        {{ $sudo }} curl https://raw.githubusercontent.com/Athena-OS/athena/main/packages/os-specific/athena-mirrorlist/athena-mirrorlist -o /etc/pacman.d/athena-mirrorlist
        {{ $sudo }} pacman-key --recv-keys A3F78B994C2171D5 --keyserver keys.openpgp.org
        {{ $sudo }} pacman-key --lsign A3F78B994C2171D5
    fi
    yay --noconfirm -S --needed {{ .packages.linux.arch.pentesting | join " " }}
{{- end}}

printf '\n installing ly as service\n'
sudo systemctl enable ly.service
printf '\n Packages are up to date!\n'

{{ else -}}

printf '\nPackage installation is not implemented yet on `' {{ .chezmoi.osRelease.id }} '`.\n'
printf 'You can add it in `run_onchange_install-packages.sh`.\n'

{{ end -}}
{{ end -}}
{{ end -}}
