set fish_greeting
if status is-interactive
    # Commands to run in interactive sessions can go here
    fish_add_path $HOME/.local/bin
    fish_add_path $HOME/.go/bin
    alias vi="nvim"
    alias vim="nvim"
    alias cat="bat --plain"
    alias scratch="nvim -c Scratch"
    {{- if eq .isServer "false"}}
    set --export GPG_TTY $(tty)
    {{- end}}
    set --export SSH_AUTH_SOCK "$XDG_RUNTIME_DIR/ssh-agent.socket"
    {{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
    {{else}}
    set --export EDITOR "nvim"
    set --export GOPATH "$HOME/.go"
    set --export VISUAL "nvim"
    {{end}}
    if not set -q DISPLAY
        if not set -q ZELLIJ                                                                                                                                                           
            if test "$ZELLIJ_AUTO_ATTACH" = "true"                                                                                                                                     
                zellij attach -c                                                                                                                                                       
            else                                                                                                                                                                       
                zellij                                                                                                                                                                 
            end                                                                                                                                                                        
            if test "$ZELLIJ_AUTO_EXIT" = "true"                                                                                                                                       
                kill $fish_pid                                                                                                                                                         
            end                                                                                                                                                                        
        end
    end
end
starship init fish | source
