if status is-interactive
    # Commands to run in interactive sessions can go here
    alias vi="nvim"
    alias vim="nvim"
    {{- if eq .isServer "false"}}
    set TERM "alacritty"
    export TERM
    set GPG_TTY $(tty)
    export GPG_TTY
    {{- end}}
    {{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
    alias cat="batcat --plain"
    {{else}}
    alias cat="bat --plain"
    {{end}}
    fish_add_path $HOME/.local/bin
    set EDITOR "nvim"
    export EDITOR
    set VISUAL "nvim"
    export VISUAL
    if not set -q DISPLAY
        if not set -q ZELLIJ                                                                                                                                                           
            if test "$ZELLIJ_AUTO_ATTACH" = "true"                                                                                                                                     
                zellij attach -c                                                                                                                                                       
            else                                                                                                                                                                       
                zellij                                                                                                                                                                 
            end                                                                                                                                                                        
            if test "$ZELLIJ_AUTO_EXIT" = "true"                                                                                                                                       
                kill $fish_pid                                                                                                                                                         
            end                                                                                                                                                                        
        end
    end
end
starship init fish | source
